<h1>Build a Schedule</h1>

<div class="col justify-content-center">

    <div class="main col">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2">
                    <ul class="list-group">
                        <li *ngFor="let tab of tabs" class="list-group-item menu-list-item" [ngClass] = "currentTab === tab ? 'active' : ''">
                            {{tab.label}}
                        </li>
                    </ul>
                    <div>
                        <button type="button" id="prevBtn" class="btn btn-outline-secondary" (click)="prevNext(-1)">Previous</button>
                        <button type="button" id="nextBtn" class="btn btn-outline-secondary" (click)="prevNext(1)">Next</button>
                    </div>
                </div>
                <div class="col-xl-10">
                    <div [ngClass] = "currentTab.label === 'Start' ? 'd-block' : 'd-none'">
                        <div>
                            <label for="startDate" class="form-label">Start date</label>
                            <input type="date" [ngModel]="startDate | date: 'yyyy-MM-dd'" (ngModelChange)="startDate = $event" class="form-control"/>
                            <label for="endDate" class="form-label">End date</label>
                            <input type="date" [ngModel]="endDate | date: 'yyyy-MM-dd'" (ngModelChange)="endDate = $event" class="form-control"/>
                        </div>
                    </div>
                    <div [ngClass] = "currentTab.label === 'Flying Shell' ? 'd-block' : 'd-none'">
                        <div class="text-center">
                            <button type="button" id="prevBtn" class="btn btn-outline-secondary" (click)="prevNextDay(-1)">Prev Day</button>
                            <h2 class="d-inline">{{ currDateStr }}</h2>
                            <button type="button" id="prevBtn" class="btn btn-outline-secondary" (click)="prevNextDay(1)">Next Day</button>
                        </div>

                        <p-table [columns]="cols" [value]="shell_lines" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                                        {{col.header}}<p-sortIcon field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div [ngClass] = "currentTab.label === 'Duty Shell' ? 'd-block' : 'd-none'">
                        <div class="text-center">
                            <button type="button" id="prevBtn" class="btn btn-outline-secondary" (click)="prevNextDay(-1)">Prev Day</button>
                            <h2 class="d-inline">{{ currDateStr }}</h2>
                            <button type="button" id="prevBtn" class="btn btn-outline-secondary" (click)="prevNextDay(1)">Next Day</button>
                        </div>

                        <p-table [columns]="cols" [value]="shell_lines" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                                        {{col.header}}<p-sortIcon field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div [ngClass] = "currentTab.label === 'Build' ? 'd-block' : 'd-none'">
                        <form method="post" action="/build">
                            <label for="scheduleName" class="form-label">Schedule name</label>
                            <input type="text" id="scheduleName" name="scheduleName" class="form-control" />
                            <table class="table">
                                <thead>
                                    <th>Objective</th>
                                    <th>Weighting</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lines Filled</td>
                                        <td><input type="number" id="linesFilledWeight" class="form-control" min="0" max="100" /></td>
                                    </tr>
                                    <tr>
                                        <td>Assigned Organization</td>
                                        <td><input type="number" id="assignedOrgWeight" class="form-control" min="0" max="100" /></td>
                                    </tr>
                                    <tr>
                                        <td>AUSM Adherence</td>
                                        <td><input type="number" id="ausmWeight" class="form-control" min="0" max="100" /></td>
                                    </tr>
                                    <tr>
                                        <td>Duty Equality</td>
                                        <td><input type="number" id="dutyEqualityWeight" class="form-control" min="0" max="100" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" id="buildBtn" class="btn btn-primary">Build</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>