th.rotate {
    height: 12em;
    width: 30px;
    white-space: nowrap;
}

th.rotate > div {
    transform: 
        rotate(-90deg);
    width: 30px;
}

th.rotate > div > span {
    padding: 5px 10px;
}

.cell > span {
    visibility: visible;
}

.cell > select {
    display: none;
}

.save {
    display: none;
}

.hidden {
    position: fixed;
    top: 25%;
    right: -25%;
    width: 25%;
    height: 50%;
    background-color: white;
}

.show {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}