<h1>Personnel</h1>
<table class="table table-sm table-bordered table-hover table-striped">
    <thead>
        <th scope="col">Name</th>
        <th scope="col">Assigned Flight</th>
        <th *ngFor="let qual of quals" scope="col" class="rotate">{{ qual }}</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let person of personViewModels; index as person_idx" [id]="person.id">
            <td>{{ person.name }}</td>
            <td>
                <span [ngClass]="isEditable[person_idx] ? 'd-none' : 'd-block'">{{ person.assigned_org }}</span>
                <select [ngClass]="isEditable[person_idx] ? 'd-block' : 'd-none'" class="form-select" [(ngModel)]="person.assigned_org">
                    <option *ngFor="let org of assigned_orgs" value="{{ org }}">{{ org }}</option>
                </select>
            </td>
            <td *ngFor="let qual of quals; index as qual_idx" class="qual">
                <span [ngClass]="isEditable[person_idx] ? 'd-none' : 'd-block'">{{ person.quals.get(qual) }}</span>
                <select [ngClass]="isEditable[person_idx] ? 'd-block' : 'd-none'" class="form-select" [ngModel]="person.quals.get(qual)" (ngModelChange)="person.quals.set(qual, $event)">
                    <option *ngFor="let qual_opt of qual_options" value="{{ qual_opt }}">{{ qual_opt }}</option>
                </select>
            </td>
            <td>
                <span [ngClass]="isEditable[person_idx] ? 'd-none' : 'd-block'">
                    <button type="button" class="edit-btn btn btn-outline-secondary" (click)="onEdit(person_idx)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>
                </span>
                <span [ngClass]="isEditable[person_idx] ? 'd-block' : 'd-none'">
                    <button type="button" class="save-btn btn btn-primary" (click)="onSave(person_idx)">Save</button>
                </span>
            </td>
        </tr>
    </tbody>
</table>
