th.rotate {
    height: 12em;
    width: 30px;
    white-space: nowrap;
}

th.rotate > div {
    transform: 
        rotate(-90deg);
    width: 30px;
}

th.rotate > div > span {
    padding: 5px 10px;
}

.cell > span {
    visibility: visible;
}

.cell > select {
    display: none;
}

.save {
    display: none;
}